$color-text: #1A212F;
$color-main-title: #151B28;
$color-btn: #FF7236;
$color-btn-hover: #F05B1B;
$color-btn-text: #FFFEFD;
$color-filter-btn: #FAC663;
$color-border: #E1E1E1;
$color-checkbox-check-mark: #141312;
