mixin filter
  aside.filter#js_filter
    span.filter__closebtn#js_filter_closebtn x
    +filter-item
    button.filter__btn#js_filter_btn_apply Применить
    button.filter__btn.filter__btn--reset#js_filter_btn_reset Сбросить фильтр