mixin header-menu
  nav.header-menu
    ul.header-menu__list
      li.header-menu__item
        a.header-menu__link(href="#") Почему мы?
      li.header-menu__item
        a.header-menu__link(href="#") Номера
      li.header-menu__item
        a.header-menu__link(href="#") Отзывы
      li.header-menu__item
        a.header-menu__link(href="#") Как нас найти
